/* website-on-next/src/styles/globals.css */
@import "tailwindcss";


/* Ensure full height layout */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
}

/* App container with background and full-height flex layout */
.App {

  /* Full-screen flex layout */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  text-align: center;
}
