/* website-on-next/src/components/Footer.module.css */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center the content horizontally */
  align-items: center;
  /* Center the content vertically */
  font-family: 'Trebuchet MS';
}

.footer_icons {
    flex-direction: row;
}

.socials_icon img {
  width: 30px;
  height: 30px;
  margin: 10px;
  transition: opacity 0.5s ease;
}

.socials_icon:hover {
  opacity: 0.7;
}

.footer_message {
 color: white;
 margin: 0px;
 font-size: x-small;
}