.header {
  text-align: center;
  /* background-color: rgba(256, 256, 256, 0.05); */
}

.header_title {
  font-size: 2rem; /* scalable size */
  color: white; /* white text */
  margin: 0; 
}

.header_subtitle {
  font-size: 1rem;
  color: white;
  margin: 4px;
}
