.Navigation {
  position: absolute; /* so you can position it anywhere, starting at the top left corner */
  top: 20px;
  right: 20px;
  width: auto;

  display: flex;
  gap: 20px;
  z-index: 10; /* ensures it generally stays on top of other elements, go higher value for more front layer */
}

/* Add styling to individual links */
/* a is the actual tag for links */
.Navigation a {
  color: white;
  font-size: 16px;       /* or adjust to your desired size */
  text-decoration: none; /* removes underline */
  font-family: 'Trebuchet MS', sans-serif;
}

/* Optional hover effect */
/* a is the actual tag for links */
.Navigation a:hover {
  opacity: 0.7;
}